<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="/vendor/phpunit/phpunit/phpunit.xsd"
        colors="true">
    <testsuites>
        <testsuite name="WikitextModelParser">
            <file>src/WikitextModel/PageParserTest.php</file>
            <file>src/WikitextModel/SectionSearcherTest.php</file>
            <file>src/WikitextModel/SectionTest.php</file>
            <file>src/WikitextModel/TableParserTest.php</file>
            <file>src/WikitextModel/TableTest.php</file>
            <file>src/WikitextModel/TemplateTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../src/</directory>
        </whitelist>
    </filter>
</phpunit>